doctype html 
html(lang="en")
    head
        title Frontendmentor | four-card-feature-section 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="cerebro_cerberus")
        meta(name="description" content="This is a four-card-feature-section project to test coding and designing abilities")
        link(rel="shortcut icon" href="images/favicon-32x32.png")
        link(rel="stylesheet" href="css/index.css")
    body
        main 
            .main-container
                div.top-container 
                        .top-head-n-story 
                            h1.reliable Reliable, efficient delivery
                            h2.powered Powered by Technology
                            p.story Our Artificial intelligence powered tools use millions of project data points to ensure that your project is successful 
                .cards-container 
                    .first-card.card
                        h2.role Supervisor 
                        p.job Monitors activity to identify project roadlocks
                        img(src="images/icon-supervisor.svg" alt="supervisor")
                    .sec-card.card 
                        h2.role Team Builder 
                        p.job Scans our talent network to create the optimal team for your project 
                        img(src="images/icon-team-builder.svg" alt="Team-builder")
                    .third-card.card 
                        h2.role Karma 
                        p.job Regularly evaluates our talent to ensure quality
                        img(src="images/icon-karma.svg" alt="karma")
                    .fourth-card.card
                        h2.role Calculator 
                        p.job Uses data from past projects to provide better delivery estimates 
                        img(src="images/icon-calculator.svg" alt="calculator")
